* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(28, 75, 91);

}

.recodSets {
    background: url("/background.jpg");
    background-position: center;
    height: 20em;
}

.recodeLbel {
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    font-size: 60px;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.recorder {
    justify-content: center;
    text-align: center;
    margin-top: 3.5em;
}

.mic-btn img {
    height: 100px;
    width: 100%;
    padding: 5px;
}

.mic-btn {
    padding: 3.2px;
    margin-top: 25px;
    width: 20%;
    border-radius: 12px;
    border: none;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.95);
    background: none;

}

.mic-btn.Recoding {
    background: rgb(80, 3, 3);

    animation: pulse 1.2s infinite;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgb(248, 6, 6);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(101, 5, 5, 0.027);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
}

/* Waveform */
.wave {
    display: flex;
    gap: 4px;
    height: 20em;
    background-color: #383da43d;
    backdrop-filter: blur(3px);
    width: 100%;

}

.wave span {
    width: 100%;
    height: 20px;
    background: #0d2551;
    border-radius: 0 0 6px 6px;
}

.wave.active span {
    animation: wave 0.9s infinite ease-in-out;
}

.wave.active span:nth-child(1) {
    animation-delay: 0s;
}

.wave.active span:nth-child(2) {
    animation-delay: 0.1s;
}

.wave.active span:nth-child(3) {
    animation-delay: 0.2s;
}

.wave.active span:nth-child(4) {
    animation-delay: 0.3s;
}

.wave.active span:nth-child(5) {

    animation-delay: 0.2s;
}

.wave.active span:nth-child(6) {
    animation-delay: 0.3s;
}

.wave.active span:nth-child(7) {
    animation-delay: 0.4s;
}

.wave.active span:nth-child(8) {
    animation-delay: 0.7s;
}

.wave.active span:nth-child(9) {
    animation-delay: 0.9s;
}

.wave.active span:nth-child(10) {
    animation-delay: 1s;
}

.wave.active span:nth-child(11) {
    animation-delay: 1.1s;
}

.wave.active span:nth-child(12) {
    animation-delay: 0.9s;
}

.wave.active span:nth-child(13) {
    animation-delay: 0.7s;
}

.wave.active span:nth-child(14) {
    animation-delay: 0.8s;
}

.wave.active span:nth-child(15) {
    animation-delay: 1.5s;
}

.wave.active span:nth-child(16) {
    animation-delay: 1.6s;
}

.wave.active span:nth-child(17) {
    animation-delay: 1.7s;
}

.wave.active span:nth-child(18) {
    animation-delay: 1.8s;
}

.wave.active span:nth-child(19) {
    animation-delay: 1.9s;
}

.wave.active span:nth-child(20) {
    animation-delay: 2s;
}

.wave.active span:nth-child(21) {
    animation-delay: 2.1s;
}

.wave.active span:nth-child(22) {
    animation-delay: 2.2s;
}

.wave.active span:nth-child(23) {
    animation-delay: 1s;
}


@keyframes wave {
    0% {
        height: 80px;
        background-color: #000000e6;
    }

    50% {
        height: 310px;
        background-color: #710101;
    }

    100% {
        height: 80px;
        background-color: rgb(28, 75, 91);
    }
}

.statusWhileRecord {
    margin-top: 20px;
    color: #aaa;
    font-size: 21px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.statusWhileRecord span {
    color: white;
    padding: 5px;
}

.auioOvaly {
    background-color: #0414ef17;
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.audioMudal {
    position: absolute;
    top: 20em;
    height: 25%;
    left: 35%;
    right: 25%;
    width: 30%;
    background: rgba(248, 247, 247, 0.956);
    border-radius: 20px;
}

.playRecords {
    margin-top: 20px;
    color: rgb(37, 90, 16);
    font-size: 12px;
}

.exit-btn {
    text-align: right;
    margin-right: 10px;
}

.exit-icon {
    border: none;
    background: none;
    color: rgb(0, 0, 0);
    font-size: 40px;
}

@media (max-width: 768px) {

    .wave {
        height: 15em;
    }

    .playRecords {
        margin-top: 9px;
    }

    .mic-btn {
        margin-top: 50px;
    }

    .exit-btn {
        margin-right: 4px;
    }

    .recodSets {
        background-size: 200px;
        height: 15em;
    }

    .auio {
        justify-content: center;
        text-align: center;
        width: 100%;
        margin-top: 7px;
        padding: 2px;
    }


    .change {
        display: none;
    }

    @keyframes wave {
        0% {
            height: 80px;
            background-color: #000000e6;
        }

        50% {
            height: 225px;
            background-color: #850606;
        }

        100% {
            height: 80px;
            background-color: rgb(1, 10, 14);
        }
    }

    .audioMudal {
        width: 50%;
        left: 100px;
        padding: 5px;
        height: 190px;
    }
}